<!-- Desktop -->

<div class="header-container" id="nav">
    <div class="w1366 header-divider">
        <div class="header-logo">
            <a class="logo-container" (click) = "goToMain()">
                    <img src="assets/images/logo_small.png" alt="JA Logo">
                </a>
        </div>
        <div class="header-menu">
            <a class="link-item" title="about" (click) = "goToAbout()">
                ABOUT
            </a>
            <a class="link-item" title="skills" (click) = "goToSkills()">
                SKILLS
            </a>
            
            <a class="link-item" title="projects" (click) = "goToProjects()">
                PROJECTS
            </a>
            <a class="link-item" title="contact" (click) = "goToContact()">
                CONTACT ME
            </a>
        </div>
    </div>
</div>

