/* Header */
.navbar {
    justify-content: space-between !important;
    position: relative;
    z-index: 99999;
}

.navbar  .navbar-options ul li a {
    padding: 0 20px;
    font-family: 'Poppins-Light';
    text-transform: uppercase;
}

.navFixed {
	box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.65);
	background-color: #fff; 
	/* background: rgb(149 196 206 / 28%); */
	/* position: fixed !important; */
}

.d-none {
	display: none !important;
}

.opacity-0 {
	opacity: 0;
}
/* Header */

.header-container {
	width: 100%;
	/* max-width: 1366px; */
	padding: 20px;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: space-between;
	-webkit-align-items: center;
    align-items: center;
	position: fixed !important;
}

.header-container .header-logo {
	cursor: pointer;
}

.header-container .header-logo:hover {
	transform: scale(1.1);
	transition: 300ms ease all;
	transition: 300ms linear all;
}

.header-container .header-divider {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container  .header-menu > a {
    position: relative;
	font-family: "Poppins Light";
	color: #000000;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 0.7px;
	line-height: 20px;
    /* margin: 20px 30px 0; */
    padding: 0 20px;
	transition: all .3s ease;
	cursor: pointer;
}

.header-container  .header-menu > a:hover {
    text-decoration: none;
    color: #ec6b76;
}

.header-container > a.link-item {
	position: relative;
	font-family: "Poppins Light";
	color: #000000;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 0.7px;
	line-height: 20px;
	margin: 20px 30px 0;
	transition: all .3s ease;
	cursor: pointer;
}

.header-container > a.link-item.active {
	color: #009246;
}
.header-container > a.link-item > span {
	position: absolute;
	top: 0;
	left: 50%;
	opacity: 0;
	transform-origin: bottom;
	transform: translate(-50%, -100%) rotate(45deg) scale(0.5);
	width: 16px;
	height: 16px;
}
.header-container > a.link-item.active > span {
	opacity: 1;
	transform: translate(-50%, -100%) rotate(0) scale(1);
}
.header-container > a.logo-container {
	position: relative;
	display: inline-block;
    width: 180px;
}
.header-container > a.logo-container img {
	position: absolute;
	width: 120px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}