/* Main */

/* Section1 */
#main_banner {
    margin-top: -65px;
	min-height: 100vh;
	overflow: hidden;
}
#main_banner > .section-content {
	min-height: 100vh;
	text-align: center;
	padding-top: 125px;
}
#main_banner .img-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  	margin-top: 100px;
	overflow: hidden;
	background-image: url('/assets/images/Home/image1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
	/* animation: scaleUp .8s ease; */
	animation-fill-mode: forwards;
}
#main_banner > .section-content img[alt="tear_up"] {
	position: absolute;
	width: 100%;
	height: 246px;
	top: 40px;
	left: 0;
	animation: slideDown .8s ease;
	animation-fill-mode: forwards;
}
#main_banner > .section-content img[alt="tear_down"] {
	position: absolute;
	width: 100%;
	height: 99px;
	bottom: 0;
	left: 0;
	animation: slideUp .8s ease;
	animation-fill-mode: forwards;
}



.wrapper {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

path {
	stroke: #fff;
	fill: #fff;
	stroke-dasharray: 1800;
	opacity: 10;
	animation:  animate 3s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
	0% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 1800;
	}

	30% {
		opacity:  10;
		fill: none;
		stroke-dashoffset: 1800;
	}

	90% {
		fill: rgba(255,255,255,0);
	}

	100% {
		opacity: 10;
		fill: rgba(255,255,255,1);
		stroke-dashoffset: 0;
	}
}

.section-content .wrapper .branding {
    font-family: 'Poppins-Light';
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
}
/* End Section1 */


/* Section2 */
#main_profile,
#about_about {
	text-align: center;
	overflow: hidden;
	padding-top: 60px;
}
#main_profile img[alt="bg"],
#about_about img[alt="bg"] {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	z-index: -1;
	padding: 20px;
}
#about_about img[alt="bg"] {
	width: 100%;
	height: auto;
	transform: translateY(-68%);
}
#main_profile .about-container,
#about_about .about-container {
	padding: 0;
	text-align: left;
	width: 80%;
	background-color: #fff;
  	margin: 0 0 0 auto;
	box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.65);
	overflow: hidden;
}

#main_profile .section-content {
	text-align: right;
}

#main_profile .section-title {
	margin-top: 30px;
}

#main_profile .profile-desc {
	font-family: 'Poppins-Light';
	padding: 40px 20px;
	text-align: center;
}

#main_profile .section-content .about_me {
	font-family: 'Xtreem' !important;
	color: #f44336;
    font-size: 40px;
} 

#about_about .about-container {
	margin: 0 auto;
	width: 70%;
	margin-top: 50px;
}
#main_profile .about-container > .details > p.caption,
#about_about .about-container > .details > p.caption {
	font-family: "Montserrat-Light";
	font-size: 16px;
	letter-spacing: 0.7px;
	line-height: 18px;
	text-transform: uppercase;
	margin-bottom: 0;
}
#main_profile .about-container > .details > p.title,
#about_about .about-container > .details > p.title {
	font-family: 'Xtreem-Medium';
	font-size: 50px;
	letter-spacing: 1.5px;
	line-height: 46px;
	color: #f44336;
}
#main_profile .about-container > .details > p.desc,
#about_about .about-container > .details > p.desc {
	font-size: 14px;
	font-family: "Poppins Light";
}
#main_profile .about-container > .details > p.signature,
#about_about .about-container > .details > p.signature {
	font-family: 'Xtreem-Medium';
	font-size: 45px;
	line-height: 30px;
	color: #f44336;
	text-align: right;
	letter-spacing: 3px;
}

#main_profile .about-container > .details,
#about_about .about-container > .details {
	float: left;
	width: 65%;
	padding: 100px 30px;
}
#main_profile .about-container > .image,
#about_about .about-container > .image {
	position: relative;
	float: left;
	width: 35%;
  	text-align: right;
}
#main_profile .about-container > .image > img[alt="owner"],
#about_about .about-container > .image > img[alt="owner"] {
	width: 100%;
  	height: 100%;
}
#main_profile .about-container > .image > img[alt="side"],
#about_about .about-container > .image > img[alt="side"] {
	width: auto;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	user-select: none;
}

#main_profile .instax {
	background-image: url('/assets/images/Profile/dotted-line.png');
  	background-position: center;
	padding-bottom: 30px;
	background-repeat: no-repeat;
	background-size: 100%;
}
#main_profile .instax > .w1366 {
	margin: 0 auto !important;
}
#main_profile .instax .instax-item {
	padding: 10px 15px;
}
#main_profile .instax .instax-item:nth-child(odd):hover .img-container {
	transform: rotate(5deg) scale(1.1);
	transition: 300ms ease all;
	transition: 300ms linear all;
}
#main_profile .instax .instax-item:nth-child(even):hover .img-container {
	transform: rotate(-5deg) scale(1.1);
	transition: 300ms ease all;
	transition: 300ms linear all;
}
/* End Section2 */

/* Section3 Skills*/
#main_skills::before {
	content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
	opacity: 0.50;
	z-index: -2;
	background-image: url('/assets/images/Skills/skills_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#main_skills .skills-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 60px 0;
}
#main_skills .skills-grid > .skills-item {
	display: block;
	text-align: center;
}
#main_skills .skills-grid > .skills-item > p {
	font-family: 'Poppins-Light';
	font-size: 16px;
}
#main_skills .skills-grid > .skills-item:hover > p {
	color: #f44336;
}
#main_skills .skills-grid > .skills-item > img {
	padding: 20px;
	width: 30%;
}

/* End Section3 */


/* Section4 */

#main_projects .projects-container {
	width: 100%;
	margin: 0 auto !important;
	padding: 60px 0;
}
#main_projects .projects-container > div {
	padding: 10px;
}
#main_projects .projects-container .projects-content {
	position: relative;
	padding: 10px;
	border: 2px dashed #f44336;
	background-color: #fff;
}
#main_projects .projects-container .projects-content img {
	width: 100%;
}
#main_projects .projects-container .projects-content:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 10px -4px rgb(244 67 54);
	transition: 300ms ease all;
	transition: 300ms linear all;
}
#main_projects .projects-container .projects-content > a {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-family: Montserrat-Regular;
	font-size: 12px;
	letter-spacing: 0.6px;
	line-height: 12px;
	text-transform: uppercase;
	color: #FF4AFF;
	text-decoration: none;
	cursor: pointer;
}
#main_projects .projects-container .projects-content > .details {
	float: left;
	width: 55%;
	padding-right: 20px;
	text-align: left;
}
#main_projects .projects-container .projects-content > .details > p {
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 30px;
	text-transform: capitalize;
	margin-bottom: 0;
}
#main_projects .projects-container .projects-content > .details > p.title {
	font-family: DoulosSILR;
	font-size: 25px;
	letter-spacing: 1.25px;
	line-height: 25px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

/* End Section4 */

/* Main */