<div class="footer-container" id="main_contact">
    <img class="w100" src="assets/images/Footer/dash.PNG">
    <div class="col-sm-12 row footer-icon-container">
        <a href="https://www.facebook.com/judyanne.pontiveros21" target="_blank">
            <img class="footer-icon" src="assets/images/Footer/facebook.png">
        </a>
        <!-- Google +-->
        <a href="mailto:annejudypontiveros@gmail.com">
            <img class="footer-icon" src="assets/images/Footer/gmail.png">
        </a>
        <!--Linkedin -->
        <a href="https://ph.linkedin.com/in/judy-anne-pontiveros-77b085167" target="_blank">
            <img class="footer-icon" src="assets/images/Footer/linkedin.png">
        </a>
        <!--Instagram-->
        <a href="https://www.instagram.com/ponjudya/" target="_blank">
            <img class="footer-icon" src="assets/images/Footer/instagram.png">
        </a>
    </div>
    <p>No Copyright Infringement Intended | Judy Anne Pontiveros</p>
</div>