/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.w1366 {
    width: 100%;
	max-width: 1366px !important;
    margin: 0 auto;
}

app-header {
    position: fixed;
    top: 0;
    z-index: 9999999 !important;
}


/* Fonts */
@font-face {
  font-family: 'BOOWIE';
  src: url('/assets/fonts/BOOWIE.ttf');
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('/assets/fonts/Gotham/GOTHAM-BLACK.ttf');
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('/assets/fonts/Gotham/GOTHAM-BOLD.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('/assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('/assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Homework';
  src: url('/assets/fonts/Homework.otf');
}

@font-face {
  font-family: 'Xtreem-Medium';
  src: url('/assets/fonts/XtreemMedium_PERSONAL_USE.ttf');
}

@font-face {
  font-family: 'Xtreem';
  src: url('/assets/fonts/XtreemFat_PERSONAL_USE.ttf');
}

/* Fonts */


/* Animation */
@-webkit-keyframes scaleUp {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}
@keyframes scaleUp {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}
@-webkit-keyframes slideDown {
	from {
		transform: translateY(-60%);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes slideDown {
	from {
		transform: translateY(-60%);
	}
	to {
		transform: translateY(0);
	}
}
@-webkit-keyframes slideUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes slideUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}
/* Animation */

/* SECTIONS */
.section-container {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}
.section-content {
	width: 100%;
	padding: 100px 20px 50px 20px;
	position: relative;
}
.section-container .section-title {
    position: relative;
    font-family: 'Poppins-Light';
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 30px;
	font-weight: 600;
	display: inline-block;
}
.section-container .section-title > span {
	position: absolute;
    z-index: -1;
    transform: translate(-50%);
    left: 50%;
    top: -15px;
}
.section-container .title-line {
	width: auto;
	display: block;
	margin: 0 auto;
}
.section-container .section-sub-title {
	font-family: "Poppins Light";
  font-size: 20px;
  letter-spacing: 4px;
  margin-bottom: 0;
}
.section-container .section-desc {
	font-family: "Poppins Light";
	line-height: 30px;
  font-size: 16px;
  letter-spacing: 0.8px;
}
.section-container .section-banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.section-container .section-layer {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 52%;
  transform: translate(40%, 40%);
  z-index: -1;
}